*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 155;
}
body {
  --hue: var(--hue-neutral);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue), 100%, 20%);
  background-image: url("./StarlitValley.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 80%;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  background-color: hsl(var(--hue), 100%, 50%);
  font-size: medium;
}

.start-btn,
.next-btn {
  font-size: 1.5rem;
  font-weight: bold;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

#question {
  font-size: larger;
}
